<app-title [title]="userLabel()"></app-title>

@if (user()) {
    <div class="max-w-md mx-auto bg-white rounded p-8 shadow-md">
        <!-- Título -->
        <h2 class="text-2xl font-bold mb-4">Información de {{user()?.data?.first_name}}-{{user()?.data?.last_name}}</h2>
        <!-- Aquí puedes agregar la información específica del usuario -->
        <div>
          <img [srcset]="user()?.data?.avatar" class="w-32 h-auto" alt="">
          <p class="text-gray-700"><strong>Nombre:</strong>{{user()?.data?.first_name}}</p>
          <!-- <p class="text-gray-700"><strong>Correo Electrónico:</strong> juan@example.com</p> -->
          <p class="text-gray-700"><strong>Email:</strong>{{user()?.data?.email}}</p>
          <p class="text-gray-700"><strong>Ubicación:</strong></p>
          <!-- Puedes agregar más detalles aquí -->
        </div>
        <!-- Botón de regreso -->
        <div class="mt-6">
          <a class="text-blue-500 hover:underline cursor-pointer" (click)="goBack()">Regresar</a>
        </div>
      </div>
}@else {
    <p class="alert ">Loading</p>
}